@inject IStoresService StoresService
@page "/"

<MudStack Class="m-4 " Row="true" Spacing="5">
    @foreach (StoreDto store in Stores)
    {
        <MudCard>
            <MudCardContent>
                <h5>@store.Name</h5>
                <MudText Typo="Typo.body2">Адреса: @(store.Address ?? "нема адреси")</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton OnClick="() => OnTransactionsButtonClick(store)" Variant="Variant.Text"
                           Color="Color.Primary">Транзакції
                </MudButton>
            </MudCardActions>
        </MudCard>
    }
</MudStack>

